.main__container-input {
    background-color: var(--screenBg);
    width: auto;
    height: 15%;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    .input {
        background-color: transparent;
        border: none;
        width: 90%;
        height: 70%;
        text-align: end;
        margin: 15px;
        font-size: 64px;
        color: var(--text);
        padding: 0px;
    }
}